<div id="edit-product" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Product</h4>
      </div>
      <div class="modal-body">    
        <form class="form-horizontal" method="post" action="/admin/edit/product" enctype='multipart/form-data'>
          <fieldset>
            <div class="form-group">
              <label for="product-name" class="col-lg-2 control-label">Name</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="product-name" placeholder="Name" name="name">
              </div>
            </div>
            <div class="form-group">
              <label for="product-description" class="col-lg-2 control-label">Description</label>
              <div class="col-lg-10">
                <textarea  class="form-control" id="product-description" placeholder="Description" name="description">
                </textarea>
              </div>
            </div>

            <div class="form-group size-group">
              <div class="col-xs-12 col-sm-2">
                <span class="control-label">Size: </span>
              </div>
              <div class="col-xs-12 col-sm-10">
                <input type="hidden" id="hidden-size" name="size">
                <input type="radio" class="size" name="xs-size" id="xs-size" value="XS">
                <label for="xs-size">
                XS
                </label>
                <input type="radio" class="size" name="s-size" id="s-size" value="S">
                <label for="s-size">
                S
                </label>
                <input type="radio" class="size" name="m-size" id="m-size" value="M">
                <label for="m-size">
                M
                </label>
                <input type="radio" class="size" name="l-size" id="l-size" value="L">
                <label for="l-size">
                L
                </label>
                <input type="radio" class="size" name="xl-size" id="xl-size" value="XL" >
                <label for="xl-size">
                XL
                </label>
                <input type="radio" class="size" name="xxl-size" id="xxl-size" value="XXL">
                <label for="xxl-size">
                XXL
                </label>
              </div>
            </div>

            <div class="form-group">
              <label for="product-price" class="col-lg-2 control-label">Price</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="product-price" placeholder="$20.00" name="price">
              </div>
            </div>
            <div class="form-group">
              <label for="product-image" class="col-xs-12 col-sm-2 control-label">Image</label>
              <div class="col-xs-12 col-sm-10">
                <input type="file" class="form-control" id="product-image" placeholder="price" name="image">
              </div>
            </div>
            <div class="form-group">
              <input type="hidden" name="id" id="product-id">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Edit</button>
              </div>
            </div>
          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>