<div class="container">

	<div class="row">
		<div class="col-xs-4">
			<ul>
				<li class="title">Brands</li>
				<li><a href="/products/adidas">Adidas</a></li>
				<li><a href="/products/nike">Nike</a></li>
				<li><a href="/products/puma">Puma</a></li>
				<li><a href="/products/asics">Asics</a></li>
			</ul>
		</div>

		<div class="col-xs-4">
			<ul>
				<li class="title">Clothes</li>
				<li><a href="/products/t-shirt">Football Shirts</a></li>
				<li><a href="/products/footwear">Footwear</a></li>
				<li><a href="/products/ball">Balls</a></li>
				<li><a href="/products/accessory">Accessories</a></li>
				<li><a href="/products/training">Training Stuffs</a></li>
			</ul>
		</div>

		<div class="col-xs-4">
			<ul>
				<li class="title">Help</li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Who we are?</a></li>
				<li><a href="#">Why to choose to buy from us?</a></li>
			</ul>
		</div>
	</div>

</div>