<div class="hero-image">
	<img class="home-wallpaper" src="../../img/home-wallpaper.png" alt="football">

	<div class="title-wrapper"> 
		<div class="title-container">
			<h1 class="title">FShop</h1>
			<p class="description">Dress like the best, be the best!</p>
		</div>
	</div>
</div>