<nav class="navbar">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Brands<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/products">All Brands</a></li>
          <li class="divider"></li>
          <li><a href="/products/adidas">Adidas</a></li>
          <li><a href="/products/nike">Nike</a></li>
          <li><a href="/products/puma">Puma</a></li>
          <li><a href="/products/asics">Asics</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">The Greatest Clubs<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/products">All Clubs</a></li>
          <li class="divider"></li>
          <li><a href="/products/arsenal">Arsenal</a></li>
          <li><a href="/products/barcelona">Barcelona</a></li>
          <li><a href="/products/bayernmunich">Bayern Munich</a></li>
          <li><a href="/products/manunt">Manchester United</a></li>
          <li><a href="/products/realmadrid">Real Madrid</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Clothes<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/products/clothes">All Clothes</a></li>
          <li class="divider"></li>
          <li><a href="/products/t-shirt">Football Shirts</a></li>
          <li><a href="/products/shorts">Shorts</a></li>
          <li><a href="/products/socks">Socks</a></li>
          <li><a href="/products/jackets">Jackets</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Footwear<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/products/footwear">All Footwear</a></li>
          <li class="divider"></li>
          <li><a href="/products/astro">Astro Trainers</a></li>
          <li><a href="/products/fboots">Football Boots</a></li>
          <li><a href="/products/running">Running Footwear</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Accessories<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/products/accessory">All Accessories</a></li>
          <li class="divider"></li>
          <li><a href="/products/bags">Bags</a></li>
          <li><a href="/products/ball">Balls</a></li>
          <li><a href="/products/towels">Towels</a></li>
          <li><a href="/products/bottles">Water Bottles</a></li>
        </ul>
      </li>
    </ul>
  </div> 
</nav>